.cardboard-viewer {
    position: relative;
}

.cardboard-viewer.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.cardboard-viewer > .action-button {
    position: absolute;
    top: 0;
    left: 0;
}
