[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

Flask = "*"
gunicorn = "*"
pyopenssl = "*"
pytest = "*"
setuptools = ">=65.5.1"


[requires]

python_version = "3"
